<launch>

	<!--mongodb service-->
	<include file="$(find mongodb_store)/launch/mongodb_store.launch">
	</include>

    <!-- provide service for getmap, and publish ROI cloud -->
    <node pkg="table_detection" type="grabber" name="grabber" output="screen">
    </node>

    <!--soma_io node communicate with mongoDB to store the ROI cloud for later use -->
	<!--data is stored in message_store=>ws_observation (including PC2, Octomap and TF)-->
    <node pkg="soma_io" type="datasets_importer" name="datasets_importer" output="screen" args="-m online -t /pointcloud/tomongo">
	</node>

    <!-- Provide PTU control service to do a 'whole' or 'single' scan-->
	<node pkg="control_morse" type="ptu_control" name="ptu_control" output="screen">
	</node>

	<!-- Backend registration service, called by grabber -->
	<node pkg="table_registration" type="db_cloud_registration" name="db_cloud_registration" output="screen">
	</node>

</launch>
