<!-- Launch extraction of planes and table detection together with visualization -->
<launch>

    <!-- The topic of the input cloud to segment into planes and detect tables -->
    <arg name="cloud" default="/head_xtion/depth/points"/>
    <!-- The topic to publish the detected tables on -->
    <arg name="detection_topic" value="/table_detection/table_primitives"/>
    <!-- The topic to publish the resulting found planes on -->
    <arg name="primitive_topic" value="/primitive_extraction/primitives"/>
    <!-- The topic to publish the tracked tables on -->
    <arg name="table_topic" value="/table_detection/tables"/>

    <!-- Visualize the tracked tables with markers -->
    <node pkg="primitives_to_tables" type="table_to_marker" name="table_to_marker" output="screen">
        <param name="input" type="string" value="$(arg table_topic)"/>
        <param name="output" type="string" value="/primitives_to_tables/table_markers"/>
    </node>

</launch>
